html, body{
    height: 100%;
    margin:0;
}
.tudo{
    min-height: 100vh;
    gap:20px;
    display: flex;
    align-items: stretch;
}
.direita{
    background-color:#F3F4F6;
    width: 80%;
    padding: 10px;
}

.tudo p{
    display: flex;
    margin: 0px
}
.esquerda{
    background-color:#1E3A8A;;
    width: 20%;
}
header{
    margin-top: 50px;
}

.topo{
    display: flex;
    gap: 40px;
    justify-content: start;
    align-items: baseline;
}

.informacoes{
    margin-top: 10px;
    font-style: oblique;
    font-weight: bold;
}

.contato{
    font-style: oblique;
    font-weight: bold;
}

.curso-topo{
    display: flex;
    gap: 40px;
}
.curso h4,
.curso p{
    margin: 0;
}
.avatar{
    margin-top:50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.habilidades{
    margin-top: 30px;
    justify-items: center;
}
.habilidades p{
    color:white;
    font-weight:500;
}
